AUTH_REQUIRED=false
AUTH0_LOGOUT=true
SECRET='a long, randomly-generated string stored in env'
BASEURL='http://localhost:3000'
CLIENTID='your_client_id'
ISSUERBASEURL='https://somelink.com'
PORT="3000"